h1{
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(45, 10, 200);
    color: rgb(255, 255, 255);
}

h3{
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    color: rgb(143, 178, 6);
}


button{
    padding: 10px 18px;
    background: red;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bolder;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.plus{
    background-color: rgb(57, 220, 11);
}

.minus{
    background-color: rgb(255, 0, 0);
}

.reset{
    background-color: rgb(0, 0, 255);
}

.plus:hover{
    background-color: rgb(0, 255, 0);
}

.minus:hover{
    background-color: rgb(181, 25, 25);
}

.reset:hover{
    background-color: rgb(87, 87, 188);
}