<!-- @for (item of items; track $index) {
    <p>{{$index+1}} -> {{item}}</p>
     <p>Total Count: {{$count}}</p>
} -->

<!-- @for (item of items; track $index) {
    @if($first){
        <p>First Element: {{item}}</p>
    }@else if ($last) {
        <p>Last Element: {{item}}</p>
    }
} -->

<!-- @for (item of items; track $index) {
    <p [style.background]=" $odd ? 'LightGray' : 'yellow'">
        {{item}}, -- {{$index}}
    </p>

    <p [style.background]=" $even ? 'LightGray' : 'yellow'">
        {{item}}, -- {{$index}}
    </p>
} -->



<!-- @for (num of num; track $index) {
    <div>
        <strong>{{num}}</strong>

        <span>| Index; {{$index}}</span>
        <span>| Even: {{$even}}</span>
        <span>| Odd: {{$odd}}</span>
        <span>| First: {{$first}}</span>
        <span>| Last: {{$last}}</span>
        <span>| Total: {{$count}}</span>

    </div>
} -->