<!-- @for (item of items; track $index) {
    <p>{{$index}},{{item}}</p>
} -->

<!-- @for (item of users; track $index) {
    <div>
        <h4>{{item.name}}</h4>
        <p>{{item.age}}</p>
    </div>
} -->

<!-- @for (item of items; track $index) {
    <p>{{item}}</p>
    <button (click)="onDelete($index)">Delete</button>
} -->

<!-- @for (item of numbers; track $index) {
    <p>{{evenOdd(item)}}, {{item}}</p>
} -->


<div class="container">
    <h1>Even Odd Guesser</h1>
    <input (input)="onInput($event.target.value)" placeholder="Enter a number" /><p>{{result}}</p>
    <button (click)="evenOdd(num)" class="btns">Guess</button>
</div>